<div class="container">
    <h2 style="margin-top: 100px;">Add Student</h2>
    <hr>
    <form method="POST" action="/addstudent" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="pl-lg-4">
            <div class="row mt-2" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First Name *</label>
                        <input type='text' name="firstname" class="form-control" placeholder="Name" value="<%= student.firstname %>" required />
                        <div class="invalid-tooltip">
                            Please provide first name.
                        </div>
                    </div>
                </div>
                   
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last Name</label>
                        <input type="text" name="lastname" id="input-last-name" class="form-control" value="<%= student.lastname %>">
                        <div class="invalid-tooltip">
                            Please provide valid user lastname.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="cars">Choose a course:</label><br>
                        <select name="course" value="<%= student.course %>"id="course">
                        <option value="zumba">Zumba</option>
                        <option value="dance">Dance</option>
                        <option value="makup">Makeup</option>
                        <option value="fitness">fitness</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="cars">Gender:</label><br>
                        <select name="gender" id="cars" value="<%= student.gender %>">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="address">Address </label>
                        <input type="text" name="address" id="address" class="form-control" value="<%= student.address %>" placeholder="Enter address">
                        <div class="invalid-tooltip">
                            address
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-3" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="entrydate">Entry Date*</label>
                        <input type='date' name="entrydate" class="form-control" placeholder="entrydate" value="<%= student.entrydate %>" required />
                        <div class="invalid-tooltip">
                            Please provide entrydate.
                        </div>
                    </div>
                </div>
                   
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="exitdate">Exit Date </label>
                        <input type="date" name="exitdate" id="exitdate" class="form-control" value="<%= student.exitdate %>">
                        <div class="invalid-tooltip">
                            Please provide valid user lastname.
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email *</label>
                        <input type='email' class="form-control" placeholder="Name" name="email" value="<%= student.email %>" required />
                        <div class="invalid-tooltip">
                            Please provide name.
                        </div>
                    </div>
                </div>
                   
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="coverImage">Profile Image</label>
                        <input type="file" name="images" accept="image/*" id="coverImage" class="form-control" value="<%= student?.imageUrl %>">
                        <div class="invalid-tooltip">
                            Please provide valid user image.
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="row mt-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-first-name">About User *</label>
                    <textarea class="form-control" rows="5" name="review" value="<%= student.review %>" placeholder="About user here..."  required></textarea>
                    <div class="invalid-tooltip">
                        Please provide about.
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 text-right">
                <input type="submit" class="btn btn-md btn-primary mb-2" style="background-color: black;" value="Save User">
            </div>
        </div>
    </form>
</div>