<img src="<%= student?.imageUrl %>" alt="image" class="img-thumbnail" style="height: 300px; width: 400px; float: right; border: 1px solid black; margin-right: 500px; margin-bottom: 100px;" >
<h3>Firstname: <%= student?.firstname %></h3>
<h3>Lastname: <%= student?.lastname %></h3>
<h3>Email: <%= student?.email %></h3>
<h3>Course: <%= student?.course%></h3>
<h3>Address: <%= student?.address%></h3>
<h3>Entry Date: <%=student?.entrydate%></h3>
<h3>Exit Date: <%=student?.exitdate%></h3>
<h3>About student: <%=student?.review%></h3>